/* Remove if fonts are not used */
@import '~@fontsource/inter/100.css';
@import '~@fontsource/inter/200.css';
@import '~@fontsource/inter/300.css';
@import '~@fontsource/inter/400.css';
@import '~@fontsource/inter/500.css';
@import '~@fontsource/inter/600.css';
@import '~@fontsource/inter/700.css';
@import '~@fontsource/inter/800.css';
@import '~@fontsource/inter/900.css';
@import '~@fontsource/roboto-mono/300.css';
@import '~@fontsource/roboto-mono/400.css';
@import '~@fontsource/plus-jakarta-sans/600.css';
@import '~@fontsource/plus-jakarta-sans/700.css';
@import 'react-quill/dist/quill.snow.css';



/* Variables */
:root {
  --icon-fontSize-sm: 1rem;
  --icon-fontSize-md: 1.25rem;
  --icon-fontSize-lg: 1.5rem;
}

*:focus-visible {
  outline: 2px solid var(--mui-palette-primary-main);
}

html {
  height: 100%;
}

body {
  height: 100%;
}


@media print {
  body * {
    visibility: hidden !important;
    height: 0 !important;
    overflow: hidden !important;
  }

  [data-print="invoice"], [data-print="invoice"] * {
    visibility: visible !important;
    height: auto !important;
    overflow: visible !important;
  }

  [data-print="invoice"] {
    position: absolute !important;
    left: 0;
    top: 0;
    z-index: 9999;
    background: white;
    padding: 20px;
    width: 100%;
  }
}


